.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url("../public/img/table.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.w-100{
  width: 100%;
}

.color-mozts {
  color: #E0BA89;
}

.bg-mozts {
  background: rgba(23, 8, 13, 0.69);
  margin-top: 20px;
  padding: 18px;
}

.form-group > .input-mozts {
  background: none;
  border: none;
  border-bottom: 1px solid #E0BA89;
}

.form-complete {
  width: 100%;
}

.form-group > .form-control:focus {
    color: #495057;
    background: none;
    border-color: #E0BA89;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(224, 186, 137, 0.6);
}

.table{
    background: rgba(23, 8, 13, 0.69);
    margin-top: 20px;
    color: #fff;    
}
